@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

/*Style sheet is for the contact section, About section, creative project section and inner sections.
/*Navigation Bar- Desktop*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato';

}
body{
     background: linear-gradient(to bottom, #D0FB21, #9AFA12, #39EE04);
    background-repeat: no-repeat;
    background-size: cover;

}

nav{
    height: 45px;
    
    
}
/*Navigation*/
ul{
    top:0;
    background-color: black;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
    width: 100%;
    z-index: 10;
}
.bar1{
    width: 30px;
	height: 2px;
	background-color: #000000;
	margin: 5px;
	padding: 0px;
    transform: translateY(8px);
    
}

.bar1::after{
    background-color: #FFFFFF;

	}


	.bar2{
	width: 30px;
	height: 2px;
	background-color: #000000;
	margin: 5px;
	padding: 0px;
	transform: rotate(90deg);

}
    .bar2::after{
        background-color: #FFFFFF;
    }
    
    
    
    
    ul li a{
        padding: 0px 0px 15px 0px;
        font-size: 80px;
        color: transparent;
        -webkit-text-stroke : 1px white;
        font-weight: 900;
        text-align: center;
        text-decoration: none;
    
    }
    ul li a:hover{
        color: #CCFF00;
        -webkit-text-stroke : 1px #CCFF00;
        transition: 0.5s;
    }
    
    .hamburger-menu{
            position: absolute;
            cursor: pointer;
            top: 1.5%;
            right: 2%;
            transform: translate(35%, -2%);
            z-index: 11;
            margin: auto;
            padding: 0px;
        }
        
        li{
            float: none;
            display: flex;
            
            
        }
        ul{
            position: fixed;
            background-color: #000000;
            height: 100%;
            display: none;
        }
        ul.active{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            flex-flow: column-reverse;
        }
        li a:hover:not(.current-link){
        background-color: #000000;
}
.current-link{
    border: 2px solid  #CCFF00;
  shape-outside: polygon(0 0, 100% 0, 100% 100%);
  /* clip-path: circle(100% at 100%);*/
    
}
.bar1:active{
 background-color: #FFFFFF;
}
.bar2:active{
    background-color: #FFFFFF;
}

.logo a{
    color: white;
    text-align: center;
    text-decoration: none;
    list-style-type: none;
    font-size: 20px;
    font-family: Lato;
    padding: 0px;
    display: flex;
    z-index: 13;
    /*position: fixed;*/
   

}
.logo{
	width: 55px;
	height: auto;
    padding: 2px 2px 2px 2px;
}
.logo-img{
	width: 55px;
	height: auto;
   
}


a{
    padding: 8px;
    color: #000000;
}


 /*Contact Page*/
 .lets-title{
    font-size: 540px;
    font-weight: bolder;
    font-family: Pincoyablack;
     padding-bottom: 0px;
    padding-top: 20px;
    padding-right: 0px;
    padding-left: 15px;

 }
 .collab-title{
    font-size: 540px;
    font-weight: bolder;
    font-family: Pincoyablack;
    padding-right: 15px;
    padding-left: 15px;
 }

 .email{

    font-size: 18px;
    font-family: Lato;
    font-weight: bold;
    padding: 1px 0px 0px 0px;

 }
 .email-link{
    font-size: 18px;
    font-family: Lato;
    font-weight: bold;
    /*padding: 1px 0px 0px 0px;*/
    padding: 0px 0px 0px 0px;
 }   

 
.column-left{
    float: left;
    flex: 1 1 auto;
 }

 .column-right{
    float: right;
    padding: 340px 0px 100px 50px;
    flex: 1 1 auto;
 }
 
.column-container-contact{
    display: inline-flex;

 }
 .social-links{
    display: flex;
 }

.twitter-link{
 font-size: 18px;
  flex: 1 1 auto;
   padding: 20px 15px 25px 15px;
   font-weight: 700;
   font-family: Lato;

}
.behance-link{
 font-size: 18px;
  flex: 1 1 auto;
     padding: 20px 15px 25px 15px;
     font-weight: 700;
     font-family: Lato;
}
.social-subtitle{
    font-size: 20px;
    font-family: Lato;
    padding: 0px 50px 25px 15px;
    font-weight: 600;
}

.column-container-contact-form{
    display: flex;
}
.left{
    float: left;
    flex: 1 1 auto;
   
    
}
.right{
    float: right;
    flex: 1 1 auto;
    padding-left: 150px;
    padding-right: 250px;
    
}

.contact-form-wrapper{
    width: 150%;
    display: grid;
    grid-template-columns: [col-start] 40% [col-2] 10% [col-3] 40% [col-4] 10% [col-end];
	grid-template-rows: repeat(4, 50%);
    grid-template-areas: "Name Name Surname Surname"
                         "Email Email Email Email"
                         "Subject Company Company Company"
                         "Message Message Message Message";
}
.n{
    grid-area: Name;

}
.s{
    grid-area: Surname;

}
.em{
    grid-area: Email;

}
.sb{
    grid-area: Subject;

}
.co{
    grid-area: Company;

}
.m{
    grid-area: Message;

}
input{
    background: transparent;
    color: #000000;
    padding-left: 5px;
    border: 1px solid black;
}
.input{
	border: 1px solid black;
	font-family: Lato;
	font-size: 12px;
	text-align: left;
	padding-left: 5px;
    font-weight: 900;
}
 
/*Chrome Extension*/
::-webkit-input-placeholder{
    color: #000000;
}

/*FireFox Extension*/
::-moz-input-placeholder{
    color: #000000;
}
/*Internet Explorer*/

::-webkit-input-placeholder{
    color: #000000;
}
#btn-wrapper{
    


}
.submit-btn{
   border: 1px #000000;
   color: #000000;
   background-color: transparent;
   font-size: 18px;
   font-family: Lato;
   font-weight: bolder;
   padding-top: 20px;
   padding-bottom: 20px;
   cursor: pointer;
   margin-left: 1000px;
   clip-path: polygon(14% 58%, 0% 50%, 21% 46%, 24% 35%, 33% 43%, 39% 29%, 49% 40%, 60% 23%, 67% 41%, 89% 26%, 80% 47%, 100% 46%, 88% 58%, 94% 72%, 70% 66%, 64% 71%, 55% 66%, 41% 75%, 37% 67%, 26% 75%, 21% 68%, 9% 70%);

}
.submit-btn:hover{
    background-color: #FFFFFF;
    clip-path: polygon(14% 58%, 0% 50%, 21% 46%, 24% 35%, 33% 43%, 39% 29%, 49% 40%, 60% 23%, 67% 41%, 89% 26%, 80% 47%, 100% 46%, 88% 58%, 94% 72%, 70% 66%, 64% 71%, 55% 66%, 41% 75%, 37% 67%, 26% 75%, 21% 68%, 9% 70%);
    
}
.img-hover{
    width: 150px;
    height: auto;
    margin-left: 1100px;
    margin-top: -80px;

}
/*ABOUT PAGE*/

.header{
    font-size: 250px;
    font-weight: bolder;
    font-family: Pincoyablack;
    padding: 30px 0px 15px 5px;
    color: transparent;
    -webkit-text-stroke: 1.5px black;
}
.interactive-title{
    font-size: 275px;
    font-weight: bolder;
    font-family: Pincoyablack;
    padding: 30px 0px 15px 65px;
}
.designer-title{
    font-size: 275px;
    font-weight: bolder;
    font-family: Pincoyablack;
      padding: 30px 0px 15px 5px;
}
.paragraph{
    font-size: 18px;
    font-family: Lato;
    float: right;
    padding: 15px 40px 15px 560px;
}

.typography-title{
    font-size: 275px;
    font-weight: bolder;
    font-family: Pincoyablack;
    padding: 30px 0px 15px 5px;
}
.enthusiast-title{
    font-size: 275px;
    font-weight: bolder;
    font-family: Pincoyablack;
      padding: 30px 0px 15px 130px;
}
.contact-section{
     font-size: 280px;
    font-weight: bolder;
    font-family: Pincoyablack;
    text-align: center;
    padding: 200px 0px 200px 5px;
}
.social-twitter{
    font-size: 16px;
    font-family: Lato;
    padding: 0px 20px 20px 20px;
     font-weight: bold;
     flex: 1 1 auto;
}

.social-behance{
    font-size: 16px;
    font-family: Lato;
    padding: 0px 20px 20px 20px;
     font-weight: bold;
     flex: 1 1 auto;
}

.social-email{
    font-size: 16px;
    font-family: Lato;
    padding: 0px 20px 20px 20px;
    font-weight: bold;
    flex: 1 1 auto;

}

.box{
    display: flex;
   justify-content: center;
}


/*PROJECTS PAGE*/
.peek-title{
    font-size: 280px;
    font-weight: bolder;
    font-family: Pincoyablack;
    padding: 60px 20px 0px 20px;
}
.work-title{
     font-size: 280px;
    font-weight: bolder;
    font-family: Pincoyablack;
    padding: 0px 20px 0px 20px;
}
.projects-title{
    font-size: 25px;
    font-family: Lato;
   padding: 15px 15px 15px 15px;
    font-weight: 400;
}
#grid-container{
	display: grid;
	width: 100%;
	height: 100%;
	padding: 20px;
	position: relative;
	grid-template-columns: repeat(12, 8.3%);
    grid-template-rows: repeat(15, 200px);

}
/*.content{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: calc(100vh - 13rem);
    position: relative;
    align-items: center;
    justify-content: center;
    max-height: 300px;
}*/
.grid-item{
	position: relative;
	display: block;
}
.grid-item-img{
	position: relative;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: 50% 50%;
    
}
.a{
	grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
}
.b{
	grid-column-start: 6;
	grid-column-end: 12;
	grid-row-start: 1;
	grid-row-end: 4;
}
.c{
	grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 7;
}
.d{
	grid-column-start: 6;
    grid-column-end: 10;
    grid-row-start: 6;
    grid-row-end: 8;
}
.e{
	
    grid-column-start: 9;
    grid-column-end: 13;
    grid-row-start: 5;
    grid-row-end: 7;
}
.f{
	grid-column-start: 1;
	grid-column-end: 4;
	grid-row-start: 8;
	grid-row-end:10;
}
.g{
	grid-column-start: 7;
    grid-column-end: 12;
    grid-row-start: 9;
    grid-row-end: 11;
}
.h{
	grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 11;
    grid-row-end: 14;
}
.i{
	grid-column-start: 8;
	grid-column-end: 13;
	grid-row-start:12;
	grid-row-end: 15;
}
.overlay-text{
	position: absolute;
	top: 19px;
	left: 0;
    bottom: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.7);
	color: #FFFFFF;
	font-family: Lato;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	opacity: 0;
	transition: all 0.4s ease;
}
.overlay-text:hover{
	opacity: 1;

}
.title-text{
	font-size: 15px;
	font-weight: bold;

}


/*PROJECTS INNER PAGE*/

.canvas{
    background-color: #000000;
}
.creative-title{
    font-size: 250px;
    font-weight: bolder;
    color: transparent;
    -webkit-text-stroke: 1.5px #9AF412;
    /*color: #9AF412;*/
    font-family: Pincoyablack;
    padding: 50px 20px 0px 20px;
}
.creative-type{
    font-size: 250px;
    font-weight: bolder;
    color: transparent;
    -webkit-text-stroke: 1.5px #9AF412;
    font-family: Pincoyablack;
    padding: 0px 15px 0px 460px;
}
.creative-paragraph{
    font-size: 18px;
    color: white;
    font-family: Lato;
    padding: 20px 20px;
}
.second-title{
    font-size: 40px;
    font-family: lato;
    padding: 20px 20px;
    color: white;
}
.third-title{
    font-size: 20px;
    font-family: lato;
    padding: 20px 20px;
    color: white;
}
.tools {
    font-size: 12px;
    font-family: lato;
    padding: 20px 20px;
    color: white;
    
}

.reference{
    font-size: 15px;
    font-family: lato;
    padding: 20px 20px;
    color: white;
}
.reference-paragraph{
    font-size: 15px;
    font-family: lato;
    padding: 10px 20px;
    color: #FFFFFF;

}
.reference-link{
    font-size: 12px;
    font-family: lato;
    padding: 10px 20px;
    color: #FFFFFF;
}
.project-next-title{
    font-size: 30px;
    color: #FFFFFF;
    padding: 20px;
    text-align: center;
    font-family: Lato;
}

.nextbtn{
    color: #CCFF00;
    text-decoration: none;
    display: inline-block;
    font-family: Lato;
    font-size: 15px;
    padding: 10px;
    margin-left: 635px;
    
    
}
.backbtn{
    color: #CCFF00;
    text-decoration: #CCFF00;
    display: inline-block;
    font-family: Lato;
    font-size: 15px;
    padding: 10px;
    
}

/*img{
    padding: 20px 20px;
    
}*/


/*Moblie*/

@media screen and (max-width: 700px){

 
    .logo a{
    
    padding: 8px;
    position: absolute;

    }
    body{
        background-color: #000000;
    }

    nav{
    position: relative;
        
    }

    .bar1{
        width: 30px;
        height: 2px;
        background-color: black;
        margin: 5px;
        padding: 0px;
    
        }
        .bar2{
        width: 30px;
        height: 2px;
        background-color: black;
        margin: 5px;
        padding: 0px;
        /*transform: rotate(90deg);*/
        } 

    ul li a{
        padding: 0px 0px 15px 0px;
        font-size: 50px;
        color: transparent;
        -webkit-text-stroke : 1px white;
        font-weight: 900;
    
    }
    ul li a:hover{
        color: #CCFF00;
        -webkit-text-stroke : 1px #CCFF00;
        transition: 0.5s;
    }
    
    .hamburger-menu{
            position: absolute;
            cursor: pointer;
            top: 45%;
            right: 6%;
            transform: translate(35%, -50%);
            z-index: 11;
            margin: auto;
            padding: 0px;
        }
        
        li{
            float: none;
            display: flex;
            
            
        }
        ul{
            position: fixed;
            background-color: black;
            height: 100%;
            display: none;
        }
        ul.active{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            flex-flow: column-reverse;
        }
        li a:hover:not(.current-link){
        background-color: black;
}

.logo{
	width: 50px;
	height: auto;
	
}
.logo-img{
	width: 50px;
	height: auto;
	
}
.logo a {
    padding: 0px;
}


 /*Contact Page*/
 .lets-title{
    font-size: 125px;
    font-weight: bolder;
    font-family: Pincoyablack;
     padding-bottom: 0px;
    padding-top: 20px;
    padding-right: 0px;
    padding-left: 5px;

 }
 .collab-title{
    font-size: 150px;
    font-weight: bolder;
    font-family: Pincoyablack;
    padding-right: 15px;
    padding-left: 5px;
 }

 .email{

    font-size: 11px;
    font-family: Lato;
    font-weight: bold;
    padding: 1px 0px 0px 0px;

 }
 .email-link{
    font-size: 10px;
    font-family: Lato;
    font-weight: bold;
    padding: 1px 0px 0px 0px;
 }
.column-left{
    float: left;
    flex: 1 1 auto;
    padding: 0px 0px 0px 0px;
 }

 .column-right{
    float: right;
    padding: 80px 0px 0px 0px;
    flex: 1 1 auto;
 }
 
.column-container-contact{
    display: flex;

 }
 .social-links{
    display: flex;
 }

.twitter-link{
 font-size: 18px;
  flex: 1 1 auto;
  padding: 25px 15px 25px 15px;
   font-family: Lato;

}
.behance-link{
 font-size: 18px;
  flex: 1 1 auto;
  padding: 25px 15px 25px 15px;
    font-family: Lato;
}
.social-subtitle{
    font-size: 15px;
    font-family: Lato;
    padding: 15px 0px 0px 0px;
    font-weight: 600;
   
}
.column-container-contact-form{
    display: block;
}
.left{
    float: left;
    flex: 1 1 auto;
    padding: 0px 15px;
}


.right{
    float: right;
    flex: 1 1 auto;
    padding-left: 0px;
    padding-right: 35px;
    padding-top: 20px;
}
.contact-form-wrapper{
    width: 100%;
    display: grid;
    grid-template-columns: [col-start] 40% [col-2] 10% [col-3] 40% [col-4] 10% [col-end];
	grid-template-rows: repeat(4, 50%);
    grid-template-areas: "Name Name Surname Surname"
                         "Email Email Email Email"
                         "Subject Company Company Company"
                         "Message Message Message Message";
}
.n{
    grid-area: Name;

}
.s{
    grid-area: Surname;

}
.em{
    grid-area: Email;

}
.sb{
    grid-area: Subject;

}
.co{
    grid-area: Company;

}
.m{
    grid-area: Message;

}
input{
    background: transparent;
    color: #000000;
    padding-left: 5px;
    border: 1px solid black;
}
.input{
	border: 1px solid black;
	font-family: Lato;
	font-size: 12px;
	text-align: left;
	padding-left: 5px;
}
 
/*Chrome Extension*/
::-webkit-input-placeholder{
    color: #000000;
}

/*FireFox Extension*/
::-moz-input-placeholder{
    color: #000000;
}
/*Internet Explorer*/

::-webkit-input-placeholder{
    color: #000000;
}
#btn-wrapper{
    padding: 70px 15px;
    margin-top: 120px;
    margin-left: 135px;

}
.submit-btn{
    border: none;
    color: #000000;
    background-color: transparent;
    font-size: 22px;
    font-family: Lato;
    font-weight: bolder;
    padding-top: 15px;
    padding-bottom: 15px;
    cursor: pointer;
    margin-top: 100px;
    margin-left: 0px;
    text-align: center;
    
 
 }
 .submit-btn:hover{
     background-color: #FFFFFF;
     clip-path: polygon('14% 60%, 0% 44%, 20% 45%, 23% 28%, 33% 40%, 39% 26%, 50% 42%, 63% 22%, 71% 40%, 85% 26%, 87% 42%, 100% 45%, 89% 59%, 92% 72%, 70% 66%, 64% 71%, 55% 66%, 41% 75%, 37% 67%, 26% 75%, 21% 68%, 9% 70%');
     
 }

 
/*ABOUT PAGE*/

.header{
    font-size: 90px;
    font-weight: bolder;
    font-family: Pincoyablack;
    padding: 30px 0px 15px 5px;
    color: transparent;
    -webkit-text-stroke: 1px black;
}
.interactive-title{
    font-size: 65px;
    font-weight: bolder;
    font-family: Pincoyablack;
    padding: 0px 0px 0px 65px;
}
.designer-title{
    font-size: 65px;
    font-weight: bolder;
    font-family: Pincoyablack;
      padding: 0px 0px 0px 5px;
}
.paragraph{
    font-size: 12px;
    font-family: Lato;
    float: right;
    /*padding: 15px 40px 15px 560px;*/
    padding: 10px 10px;

}

.typography-title{
    font-size: 65px;
    font-weight: bolder;
    font-family: Pincoyablack;
    padding: 15px 0px 5px 5px;
}
.enthusiast-title{
    font-size: 65px;
    font-weight: bolder;
    font-family: Pincoyablack;
      padding: 0px 0px 0px 75px;
}
.contact-section{
    font-size: 80px;
    font-weight: bolder;
    font-family: Pincoyablack;
    text-align: center;
    padding: 150px 0px 110px 0px;
}
.social-twitter{
    font-size: 14px;
    font-family: Lato;
    padding: 0px 20px 20px 20px;
     font-weight: bold;
     flex: 1 1 auto;
     color: white;
}

.social-behance{
    font-size: 14px;
    font-family: Lato;
    padding: 0px 20px 20px 20px;
     font-weight: bold;
     flex: 1 1 auto;
     color: white;
}

.social-email{
    font-size: 14px;
    font-family: Lato;
    padding: 0px 20px 20px 20px;
     font-weight: bold;
     flex: 1 1 auto;
     color: white;

}

.box{
    display: flex;
    justify-content: center;
}

/*PROJECTS PAGE*/
.peek-title{
    font-size: 105px;
    font-weight: bolder;
    font-family: Pincoyablack;
    padding: 60px 0px 0px 5px;
}
.work-title{
     font-size: 105px;
    font-weight: bolder;
    font-family: Pincoyablack;
    padding: 0px 0px 0px 5px;
}

.projects-title{
    font-size: 15px;
    font-family: Lato;
    padding: 15px 15px 15px 15px;
    font-weight: 400;
}
#grid-container{
	display: grid;
	width: 100%;
	height: 100%;
	padding: 20px;
	position: relative;
	grid-template-columns: 100%;
    grid-template-rows: repeat(18, 180px);
    grid-row-gap: 15px;

}
/*.content{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: calc(100vh - 13rem);
    position: relative;
    align-items: center;
    justify-content: center;
    max-height: 300px;
}*/
.grid-item{
	position: relative;
	
}
.grid-item-img{
	position: relative;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: 50% 50%;

}
.a{
	grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 3;
}
.b{
	grid-column-start: 1;
	grid-column-end: 1;
	grid-row-start: 3;
	grid-row-end: 5;
}
.c{
	grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 5;
    grid-row-end: 7;
}
.d{
	grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 7;
    grid-row-end: 9;
}
.e{
	
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 9;
    grid-row-end: 11;
}
.f{
	grid-column-start: 1;
	grid-column-end: 1;
	grid-row-start: 11;
	grid-row-end:13;
}
.g{
	grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 13;
    grid-row-end: 15;
}
.h{
	grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 15;
    grid-row-end: 17;
}
.i{
	grid-column-start: 1;
	grid-column-end: 1;
	grid-row-start:17;
	grid-row-end: 19;
}

/*PROJECTS INNER PAGE*/

.canvas{
    background-color: #000000;
}
.creative-title{
    font-size: 100px;
    font-weight: bolder;
    color: transparent;
    -webkit-text-stroke: 1.5px #9AF412;
    /*color: #9AF412;*/
    font-family: Pincoyablack;
    padding: 40px 15px 0px 15px;
}
.creative-type{
    font-size: 100px;
    font-weight: bolder;
    color: transparent;
    -webkit-text-stroke: 1.5px #9AF412;
    font-family: Pincoyablack;
    padding: 0px 0px 0px 20px;
}
.creative-paragraph{
    font-size: 14px;
    color: white;
    font-family: Lato;
    padding: 20px 20px;
}
.second-title{
    font-size: 20px;
    font-family: lato;
    padding: 20px 20px;
    color: white;
}
.third-title{
    font-size: 15px;
    font-family: lato;
    padding: 20px 20px;
    color: white;
}
.tools{
    font-size: 10px;
    font-family: lato;
    padding: 20px 20px;
    color: white;
}

.reference{
    font-size: 12px;
    font-family: lato;
    padding: 20px 20px;
    color: white;
}
.reference-paragraph{
    font-size: 12px;
    font-family: lato;
    padding: 10px 20px;
    color: white;
}
.project-next-title{
    font-size: 30px;
    color: #FFFFFF;
    padding: 20px;
    text-align: center;
}

.nextbtn{
    color: #CCFF00;
    text-decoration: none;
    display: inline-block;
    font-family: Lato;
    font-size: 18px;
    padding: 10px;
    margin-left: 140px;
    
    
}
.backbtn{
    color: #CCFF00;
    text-decoration: #CCFF00;
    display: inline-block;
    font-family: Lato;
    font-size: 15px;
    padding: 10px;
    
}
}

    
/*Tablet */
@media screen and (max-width: 1024px) and (min-width: 700px){
    


  .logo a{
    
    padding: 8px;
    position: absolute;

}
.bar1{
	width: 30px;
	height: 2px;
	background-color: white;
	margin: 5px;
	padding: 0px;

	}
	.bar2{
	width: 30px;
	height: 2px;
	background-color: white;
	margin: 5px;
	padding: 0px;
	/*transform: rotate(90deg);*/
	}
        

    ul li a{
        padding: 0px 0px 15px 0px;
        font-size: 90px;
        color: transparent;
        -webkit-text-stroke : 1px white;
        font-weight: 900;
    
    }

        ul li a:hover{
        color: #CCFF00;
        -webkit-text-stroke : 1px #CCFF00;
        transition: 0.5s;
    }
        
    
    .hamburger-menu{
            position: absolute;
            cursor: pointer;
            top: 1.2%;
            right: 1.5%;
            transform: translate(20%, -40%);
            z-index: 11;
            margin:auto;
            padding: 0px;
        }
        
        li{
            float: none;
            display: flex;
            
            
        }
        ul{
            position: fixed;
            background-color: black;
            height: 100%;
            display: none;
            transition: all 3s ease;
        }
        ul.active{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            flex-flow: column-reverse;

        }
      /*  li a:hover:not(.current-link){
    background-color: #CCFF00;}*/

    .logo{
        width: 50px;
        height: auto;
        padding: 0px;
        
    }
    .logo-img{
        width: 50px;
        height: auto;
        padding: 0px;
        
    }

 /*Contact Page*/
 .lets-title{
    font-size: 400px;
    font-weight: bolder;
    font-family: Pincoyablack;
     padding-bottom: 0px;
    padding-top: 40px;
    padding-right: 0px;
    padding-left: 15px;

 }
 .collab-title{
    font-size: 400px;
    font-weight: bolder;
    font-family: Pincoyablack;
    padding-right: 15px;
    padding-left: 15px;
 }

 .email{

    font-size: 18px;
    font-family: Lato;
    font-weight: bold;
    padding: 1px 0px 0px 0px;

 }
 .email-link{
    font-size: 18px;
    font-family: Lato;
    font-weight: bold;
    padding: 1px 0px 0px 0px;
 }
.column-left{
    float: left;
    flex: 1 1 auto;
    padding: 0px 0px 0px 0px;
 }

 .column-right{
    float: right;
    padding: 250px 0px 100px 0px;
    flex: 1 1 auto;
 }
 
.column-container-contact{
    display: flex;

 }
 .social-links{
    display: flex;
 }

.twitter-link{
 font-size: 30px;
  flex: 1 1 auto;
   padding: 20px 15px 25px 15px;

}
.behance-link{
 font-size: 30px;
  flex: 1 1 auto;
     padding: 20px 15px 25px 15px;
}
.social-subtitle{
    font-size: 25px;
    font-family: Lato;
    font-weight: 600;
    padding: 0px 50px 0px 15px;
   
}
.left{
    float: left;
    flex: 1 1 auto;
    padding: 20px 15px 25px 20px;
}
.column-container-contact-form{
    display: flex;
}

.right{
    float: right;
    flex: 1 1 auto;
    padding-left: 0px;
    padding-right: 0px; 
    display: block;
    margin-right: 120px;
    margin-top: 25px;
}
.contact-form-wrapper{
    width: 120%;
    height: 100px;
    display: grid;
    grid-template-columns: [col-start] 40% [col-2] 10% [col-3] 40% [col-4] 10% [col-end];
	grid-template-rows: repeat(4, 50%);
    grid-template-areas: "Name Name Surname Surname"
                         "Email Email Email Email"
                         "Subject Company Company Company"
                         "Message Message Message Message";
}
.n{
    grid-area: Name;

}
.s{
    grid-area: Surname;

}
.em{
    grid-area: Email;

}
.sb{
    grid-area: Subject;

}
.co{
    grid-area: Company;

}
.m{
    grid-area: Message;

}
input{
    background: transparent;
    color: #000000;
    padding-left: 5px;
    border: 1px solid black;
}
.input{
	border: 1px solid black;
	font-family: Lato;
	font-size: 18px;
	text-align: left;
	padding-left: 5px;
}
 
/*Chrome Extension*/
::-webkit-input-placeholder{
    color: #000000;
}

/*FireFox Extension*/
::-moz-input-placeholder{
    color: #000000;
}
/*Internet Explorer*/

::-webkit-input-placeholder{
    color: #000000;
}
#btn-wrapper{
    margin-left: 660px;
    margin-bottom: 130px;


}
.submit-btn{
    border: 1px solid black;
    color: #000000;
    background-color: transparent;
    font-size: 40px;
    font-family: Lato;
    font-weight: bolder;
    padding-top: 15px;
    padding-bottom: 15px;
    cursor: pointer;
    margin-left: 0px;
    margin-top: 0px;

}

/*ABOUT PAGE*/

.header{
    font-size: 200px;
    font-weight: bolder;
    font-family: Pincoyablack;
    padding: 30px 0px 15px 5px;
    color: transparent;
    -webkit-text-stroke: 1.5px black;
}
.interactive-title{
    font-size: 190px;
    font-weight: bolder;
    font-family: Pincoyablack;
    padding: 15px 0px 15px 120px;
}
.designer-title{
    font-size: 190px;
    font-weight: bolder;
    font-family: Pincoyablack;
      padding: 15px 5px 15px 0px;
}
.paragraph{
    font-size: 20px;
    font-family: Lato;
    float: right;
    padding: 20px 5px 15px 300px;
}

.typography-title{
    font-size: 190px;
    font-weight: bolder;
    font-family: Pincoyablack;
    padding: 15px 0px 15px 5px;
}
.enthusiast-title{
    font-size: 190px;
    font-weight: bolder;
    font-family: Pincoyablack;
      padding: 15px 0px 15px 160px;
}
.contact-section{
    font-size: 180px;
    font-weight: bolder;
    font-family: Pincoyablack;
    text-align: center;
    padding: 200px 0px 200px 0px;
}
.social-twitter{
    font-size: 20px;
    font-family: Lato;
    padding: 0px 20px 20px 20px;
     font-weight: bold;
     flex: 1 1 auto;
}

.social-behance{
    font-size: 20px;
    font-family: Lato;
    padding: 0px 20px 20px 20px;
     font-weight: bold;
     flex: 1 1 auto;
}

.social-email{
    font-size: 20px;
    font-family: Lato;
    padding: 0px 20px 20px 20px;
    font-weight: bold;
    flex: 1 1 auto;

}

.box{
    display: flex;
    justify-content: center;
}


/*PROJECTS PAGE*/
.peek-title{
    font-size: 280px;
    font-weight: bolder;
    font-family: Pincoyablack;
    padding: 60px 20px 0px 20px;
}
.work-title{
     font-size: 280px;
    font-weight: bolder;
    font-family: Pincoyablack;
}
.projects-title{
    font-size: 25px;
    font-family: Lato;
    padding: 15px 15px 15px 5px;
    font-weight: 400;
}
#grid-container{
	display: grid;
	width: 100%;
	height: 100%;
	padding: 20px;
	position: relative;
	grid-template-columns: repeat(12, 8.3%);
    grid-template-rows: repeat(15, 200px);

}
/*.content{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: calc(100vh - 13rem);
    position: relative;
    align-items: center;
    justify-content: center;
    max-height: 300px;
}*/
.grid-item{
	position: relative;
	
}
.grid-item-img{
	position: relative;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: 50% 50%;

}
.a{
	grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
}
.b{
	grid-column-start: 6;
	grid-column-end: 12;
	grid-row-start: 1;
	grid-row-end: 4;
}
.c{
	grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 7;
}
.d{
	grid-column-start: 6;
    grid-column-end: 10;
    grid-row-start: 6;
    grid-row-end: 8;
}
.e{
	
    grid-column-start: 9;
    grid-column-end: 13;
    grid-row-start: 5;
    grid-row-end: 7;
}
.f{
	grid-column-start: 1;
	grid-column-end: 5;
	grid-row-start: 8;
	grid-row-end:10;
}
.g{
	grid-column-start: 7;
    grid-column-end: 12;
    grid-row-start: 9;
    grid-row-end: 11;
}
.h{
	grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 11;
    grid-row-end: 14;
}
.i{
	grid-column-start: 8;
	grid-column-end: 13;
	grid-row-start:12;
	grid-row-end: 15;
}

/*PROJECTS INNER PAGE*/

.canvas{
    background-color: #000000;
}
.creative-title{
    font-size: 200px;
    font-weight: bolder;
    color: transparent;
    -webkit-text-stroke: 1.5px #9AF412;
    /*color: #9AF412;*/
    font-family: Pincoyablack;
    padding: 80px 50px 0px 15px;
}
.creative-type{
    font-size: 200px;
    font-weight: bolder;
    color: transparent;
    -webkit-text-stroke: 1.5px #9AF412;
    font-family: Pincoyablack;
    padding: 0px 0px 0px 300px;
}
.creative-paragraph{
    font-size: 22px;
    color: white;
    font-family: Lato;
    padding: 20px 20px;
}
.second-title{
    font-size: 30px;
    font-family: lato;
    padding: 20px 20px;
    color: white;
}
.third-title{
    font-size: 20px;
    font-family: lato;
    padding: 20px 20px;
    color: white;
}
.tools{
    font-size: 18px;
    font-family: lato;
    padding: 0px 20px;
    color: white;
}

.reference{
    font-size: 20px;
    font-family: lato;
    padding: 20px 20px;
    color: white;
}
.reference-paragraph{
    font-size: 18px;
    font-family: lato;
    padding: 0px 20px;
    color: white;
}
.project-next-title{
    font-size: 35px;
    color: #FFFFFF;
    padding: 20px;
    text-align: center;
}

.nextbtn{
    color: #CCFF00;
    text-decoration: none;
    display: inline-block;
    font-family: Lato;
    font-size: 25px;
    padding: 10px;
    margin-left: 450px;
    
    
}
.backbtn{
    color: #CCFF00;
    text-decoration: #CCFF00;
    display: inline-block;
    font-family: Lato;
    font-size: 25px;
    padding: 10px;
    
}

}





























